[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pyac = "*"
requests = "*"
ipython = "*"
fuzzyfinder = "*"
prompt-toolkit = "*"
blessings = "*"


[dev-packages]

